.checkboxUnchecked{
    border: none;
    color: var(--blue);
    background: transparent;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 0;

    padding: 3.273px;

    cursor: pointer;
} 

.checkboxUnchecked:hover{
    border: none;
    color: var(--blue-dark);
} 

.checkboxChecked{
    border: none;
    color: var(--purple-dark);
    background: transparent;
    line-height: 0;

    cursor: pointer;
} 


.checkboxChecked:hover{
    border: none;
    color: var(--purple);
} 