.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12.5rem;
    width: 100%;
    background: var(--gray-700);
}

.header div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header img {
    width: 1.375rem;
    height: 2.25rem;

    margin-right: 0.75rem;
}

.header span{
    color: var(--blue);
    font-weight: 900;
    font-size: 2.5rem;
}

.header span + span {
    color: var(--purple-dark);
}